# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.env
.venv/
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
# Add any database-specific files you don't want to commit, e.g., backup files 